@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SuperHeros</h1>
    <img src="https://cdn-images-1.medium.com/max/1600/1*IUyKh-i4laV518_Zf-pq4g.png"/>
    <p class="lead">SuperHeros are a great way to remind people that they can do remarkable things.</p>
    <li>@Html.ActionLink("HeroList", "Index", "SuperHero")</li>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started on your Journey</h2>
        <p>
            Utilizing the Hero's Journey style of story telling, narrators can render everyday lessons of stregth, perseverance and faith into an easily digestable and mesmorizing form of storytelling that sticks easily into the collective consciousness.  Don't know what to do?  What would Batman do??  Or Create your own...'
        </p>
        <li>@Html.ActionLink("Create", "Create", "SuperHero")</li>
    </div>
    <div class="col-md-4">
        <h2>Get more resources</h2>
        <p>The huge amount of SuperHero characters to choose from enables audiances to almost certainly find one that applies to their particular interests and challenges in life, giving almost everyone a semi-personalized experiance.</p>
        <li>@Html.ActionLink("About", "About", "Home")</li>
    </div>
    <div class="col-md-4">
        <h2>Hero Hosting</h2>
        <p>You can easily find naratives where the Superheros interact with each other to overcome great adversity...once again providing a useful blueprint for collaboration and cooperation.  Even if you like to smash things in your spare time.  Or set things on fire with your eyeballs.   You too can collaborate successfully with other beings.  Everyone can get along.   We can all share the sandbox.  Its big.  Room for all.  Just saying.  But if you really cant stand one...delete here.</p>
        <li>@Html.ActionLink("Contact", "Index", "SuperHero")</li>
    </div>
</div>